@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap');

html,
body {
  height: 100%;
  background-color: #222;
  color: #fff;
  font-family: 'Golos Text', sans-serif;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 3rem;
}

.categories {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 20px;
  margin-top: 3rem;
}

.category {
  background-color: #444;
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px; /* Abstand zwischen den Kategorien */
  width: 300px;
}

.category:last-child {
  margin-right: 0;
}

.category h2 {
  font-size: 24px;
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 1rem;
}

li {
  margin-bottom: 10px;
  position: relative; /* Positionierung für Buttons */
  padding: 10px; /* Abstand für Aufgaben */
  font-weight: 600;
  overflow-wrap: break-word;
  border-radius: 0.25rem; /* Rundung der Ecken */
  position: relative; /* Positionierung für Buttons */
  cursor: default;
}

.todo {
  background-color: #c2744d; /* Hintergrundfarbe für ToDo */
}

.in-progress {
  background-color: #c2a639; /* Hintergrundfarbe für In Arbeit */
}

.done {
  background-color: #89ad1c; /* Hintergrundfarbe für Fertig */
}

.move-right-btn,
.move-left-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  padding: 5px;
}

.move-right-btn {
  right: -25px;
}

.move-left-btn {
  left: -25px;
}

.add-button {
  background-color: #0066ff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 1rem;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.del-button {
  background-color: #ff2f2f;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
